name: Maven Publish

on:
  release:
    types: [published]

defaults:
  run:
    working-directory: java

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17 and Maven Central
        uses: actions/setup-java@v3
        with:
          distribution: "corretto"
          java-version: "17"
          server-id: ossrh # Value of the distributionManagement/repository/id field of the pom.xml
          server-username: MAVEN_USERNAME # env variable for username in deploy
          server-password: MAVEN_CENTRAL_TOKEN # env variable for token in deploy
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }} # Value of the GPG private key to import
          gpg-passphrase: MAVEN_GPG_PASSPHRASE # env variable for GPG private key passphrase

      - name: Set Maven version
        run: |
          mvn versions:set -DnewVersion=$(git describe --tags)

      - name: Publish to Apache Maven Central
        run: mvn -B deploy
        env:
          MAVEN_USERNAME: dsiddharth
          MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
